
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.thumbnail > img {
  height: 222px;
}

.buttonpush{
float: right;
}

.cartheadercolor {
  background-color: orange;
}

.checkoutwellcolor{
  background-color: #3D9970;
  text-align: center;
}

.descriptioncaption{
 text-align: center;
 color: green;
 font-weight: bold;
}

.descriptioncaption2{
  text-align: center;
  font-size: 20px;
}
